In [1]:
import random
import pandas as pd
import numpy as np
from scipy.spatial import KDTree
from sklearn.metrics import mean_absolute_error

In [10]:
wines = pd.read_csv('/Users/patrycjapiechowicz/Downloads/9408623-b237fa5848349a14a14e5d4107dc7897c21951f5/wine.csv')
wines.head(1)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065

In [11]:
y = wines['Wine']
wines.drop('Wine', 1, inplace=True)

In [32]:
wines =wines[['Alcohol','Malic.acid','Ash']]

#### Normalizacja

In [33]:
wines = (wines - wines.mean()) / (wines.max() -wines.min())

In [34]:
wines.head()

    Alcohol  Malic.acid       Ash
0  0.323522   -0.123784  0.033948
1  0.052469   -0.109950 -0.121132
2  0.041943    0.004674  0.162290
3  0.360364   -0.076353  0.071381
4  0.062995    0.050129  0.269242

In [35]:
kdtree = KDTree(wines)

In [43]:
def classify(query_point, k):
    for i in range(2,k):
        _, idx = kdtree.query(query_point, k)
        return np.argmax(np.bincount(y.iloc[idx]))

#### Podzial danych

In [44]:
test_rows = random.sample(wines.index.tolist(), int(round(len(wines) * .2)))  # 20%
train_rows = set(range(len(wines))) - set(test_rows)
df_test = wines.loc[test_rows]
df_train = wines.drop(test_rows)
test_values = y.loc[test_rows]
train_values = y.loc[train_rows]

In [45]:
train_predicted_values = []
train_actual_values = []

for _id, row in df_train.iterrows():
        train_predicted_values.append(classify(row, k=7))
        train_actual_values.append(train_values[_id])

In [46]:
print(k)

1

In [26]:
test_values

62     2
144    3
99     2
137    3
101    2
152    3
171    3
9      1
19     1
71     2
148    3
168    3
11     1
163    3
145    3
124    2
88     2
60     2
76     2
56     1
30     1
23     1
161    3
114    2
128    2
113    2
160    3
146    3
165    3
118    2
42     1
39     1
108    2
136    3
0      1
159    3
Name: Wine, dtype: int64